@import '../../../_variables.scss';
@import '../../../font/font.scss';

.zh_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #FFFFFF;
  z-index: 10;
  box-shadow: 0 0 6px #e9e9e9;
  .nav {
    .back {
      position: absolute;
      left: 0;
      top: 0;
      width: 80px;
      height: 100%;
      background: url('/imgs/user/front/task/header/back.png') no-repeat center center;
      background-size: 20%;
      cursor: pointer;
      outline: none;
      border: 0;
    }
    .stepper {
      position: relative;
      float: left;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 100%;
      color: #4A4A4A;
      font-size: 16px;
      text-align: center;
      .stepper-item {
        position: relative;
        float: left;
        height: 18px;
        line-height: 18px;
        padding: 0 30px;
        margin-top: (60px - 18px) / 2;
        border-right: 2px solid #666666;
        span {
          a {
            color: #666666;
          }
        }
      }
      .stepper-item.active span {
        border-bottom: 3px solid #6B91FF;
        padding-bottom: 7px;
        a {
          color: $primary;
        }
      }
      .stepper-item:last-child {
        border-right: 0;
      }
    }
    .right-controls {
      position: absolute;
      right: 0;
      top: 0;
      width: 146px;
      height: 100%;
      .user-info {
        width: 40px;
        height: 40px;
        margin: 10px 40px 0 50px;
        cursor: pointer;
        .user-avatar {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .notice {
        width: 16px;
        height: 19px;
        margin-top: (60px - 19px) / 2;
        background: url('/imgs/user/front/task/header/notice.png') no-repeat center center;
        background-size: 100%;
        cursor: pointer;
      }
    }
  }
  #navbar_example_2 {
    position: absolute;
    right: 15px;
    top: 8px;
  }
  .user_info {
    left: 15px!important;
    width: 140px;
    min-width: 140px;
    height: auto;
    -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
    .dropdown-header {
      width: 120px;
      margin: 0 auto;
      line-height: 36px;
      border-bottom: 2px solid #EEEEEE;
      height: 36px;
      font-size: 12px;
      color: #666666;
      text-align: center;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0 (120px - 83px) / 2;
      font-weight: 400;
    }
    ul {
      padding-left: 0;
      height: auto;
      width: 100%;
      margin-top: 10px;
      li {
        width: 100%;
        height: 30px;
        list-style: none;
        a {
          display: block;
          width: 100%;
          height: 30px;
          font-size: 12px;
          color: #666666;
          text-align: center;
          line-height: 30px;
          cursor: pointer;
        }
        a.active,
        a:hover {
          background: $primary;
          color: #ffffff;
        }
      }
    }
  }
  .user_info:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border:10px solid;
    margin-top: -10px;
    border-color: transparent transparent transparent #fff;
    margin-left: -10px;
  }

  .user_avatar {
    margin-top: 3px;
    width: 40px;
    height: 40px;
    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}