@import "../../_variables.scss";
@import "../../font/_font.scss";

.czh_homework_content {
  margin-bottom: 150px;
  margin-top: 30px;
}

.czh_list_con {
  overflow: hidden;
  height: auto;
  border-radius: $teacher_radius;
  box-shadow: $teacher_box_shadow;
  background-color: white;

  .list_head {
    width: 100%;
    height: 68px;
    border-bottom: 1px solid #eee;

    p {
      margin: 0;
      width: 100%;
      height: 100%;
      line-height: 68px;
      padding-left: 30px;
      font-size: 18px;
      color: #666;
    }
  }

  .list_content {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;

    .con_form {
      padding: 30px 20px 30px 20px;
      margin: 0 auto;
      width: 94%;
      height: 90px;
      background-color: #F6F9FF;
      border-radius: 5px;

      .search_title {
        float: left;
        width: 308px;
        height: 32px;
        input {
          width: 100%;
          height: 100%;
        }
      }

      .search_tag {
        float: left;
        margin-left: 20px;
        margin-right: 20px;
        width: 464px;
        height: 30px;
      }

      .search_btn {
        float: left;
        width: 48px;
        height: 30px;

        button {
          padding: 0;
          width: 100%;
          height: 32px;
          font-size: 14px;
          font-weight: 300;
        }
      }
    }

    .list_item {
      margin: 0 auto;
      width: 94%;
      height: auto;

      th {
        border-top: 0;
      }

      .list_item_action {
        .yl {
          float: left;
          padding: 0;
        }

        .jq_q {
          float: left;
          margin-left: 15px;
          padding: 0;
        }

        .jq_j {
          float: left;
          margin-left: 15px;
          padding: 0;
          color: #e65046;
        }
      }
    }

    .course_list {
      margin-top: 30px;
      position: relative;
      width: 100%;
      height: 38px;

      .pagination {
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 100%;

        .page-item:first-of-type {
          margin-left: 0;
        }

        .page-item {
          width: 38px;
          height: 38px;
          margin-left: 5px;
          a {
            border-radius: 5px;
            text-align: center;
          }
        }
      }

    }
  }
}

.select2 {
  width: 464px !important;
  height: 30px !important;
}

.select2-container--default .select2-selection--multiple {
  border: 0.0625rem solid #ced4da !important;
}

.select2-selection {
  margin-top: -3px !important;
  height: 32px !important;
  border: 1px solid #d5d5d5 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
}

.select2-search__field {
  margin-top: 2px !important;
}

.select2-container--default, .select2-selection--multiple .select2-selection__choice {
  margin-top: 2px !important;
  height: 26px !important;
  line-height: 26px !important;
}

.select2-selection__choice {
  margin-top: 8px !important;
  background-color: $course_primary !important;
  color: white !important;
  border: 0 !important;

  .select2-selection__choice__remove {
    color: white !important;
  }
}