.col-lg-12 {
  margin-top:0 !important;
}

.row_div .row .col-lg-8 h6 {
  margin-top:0;
  margin-left:0;
}

.course_hr {
  margin-top:16px;
}

.card-body.row_content {
  padding-top: 10px;
  padding-bottom: 15px;
}

.form-group.focused {
  p {
    padding-left: 197px;
    font-size: 12px;
    color: #999999;
    padding-top: 5px;
  }
}