@import "../../../_variables.scss";

.course_hr {
  margin-top: 18px;
  margin-bottom:20px;
  position: absolute;
  width: 100%;
  left: 0;
}

h6 {
  margin-bottom:0;
  margin-left:5px;
  font-size:20px;
  color:#666666;
  font-weight:400;
  margin-top: 10px;
}

.add-notice {
  padding:2px 10px;
  font-size:14px;
  line-height:24px;
  background:$primary;
  font-weight:400;
}

.time_select {
  display: none;
}

.time_select.active {
  display: flex;
}

.modal-body {
  padding:0;
}

.last-body {
  padding-bottom:25px;
}

.btn-secondary {
  width:68px;
  height:30px;
  font-size:14px;
  color:#666666;
  background:#fff;
  border:1px solid #D5D5D5;
  text-align:center;
  line-height:10px;
  padding:0;
  font-weight:400;
}

.btn-secondary:hover {
  background:#fff;
  color:#666;
}

.primary-btn {
  width:68px;
  height:30px;
  font-size:14px;
  background:$primary;
  text-align:center;
  line-height:10px;
  padding:0;
  color:#fff;
  margin-right:26px;
  font-weight:400;
}

.add-notice:hover {
  background: $primary;
  border-color:$primary;
}

.text-center {
  line-height:45px;
}

.bd-example {
  padding-top: 2rem;
  margin-right: 0;
  margin-left: 0;
  border-width: .2rem;
}

table th,
table td {
  font-weight:400;
  font-size: 14px;
}

table td a {
  padding-right:20px;
}

select::-webkit-input-placeholder {
  /* placeholder颜色  */
          color: #666;
}

.table-hover tbody tr:hover {
background:#FAFAFA !important;
}

.modal-dialog.modal-lg {
  max-width:970px;
  .modal-content {
    width:initial;
  }
}

.form-group {
  margin-bottom:0 !important;
}

.padding-plan {
  padding-top:30px;
}

.padding-plan-second {
  padding-top:20px !important;
}

.no-fixed {
  padding-left:0;
}

.exampleFormControlSelect1 {
  color:#666;
}

.input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.form_datetime {
  background:#fff !important;
}

select {
  width:540px !important;
  height:40px !important;
}

input {
  height:40px !important;
}

.table thead th {
  border-bottom:0;
  border-top:0;
}

.form_content {
  width:970px;
}

@media screen and (max-width: 1200px) {
  .form_content {
    width:100% !important;
    margin-top:30px;
  }
}

.invalid-feedback {
  margin-left: 20%;
}

@media (max-width: 767px) {
  .invalid-feedback {
    margin-left: 0!important;
  }
}