.text_img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  white-space: normal;
  font-size: 14px;
  padding: 30px;
  overflow-y: auto;
  word-break: break-all;
  color: #666666;
  img {
    display: block;
    max-width: 100%;
    margin: 20px 0;
  }
}
