@import "../../_variables.scss";

.padding-content {
  padding-top: 30px;
  padding-bottom: 30px;

  .czh_learn_circle {
    width: 100%;
    height: auto;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    padding-bottom: 30px;

    .course_head {
      margin: 0 auto;
      width: 100%;
      height: 55px;
      line-height: 55px;

      p {
        margin: 0;
        padding-left: 10px;
        color: #4a4a4a;
        font-size: 18px;
        border-bottom: 2px solid #eee;
      }
    }

    .course_content {
      width: 100%;
      height: auto;
      .course_content_nav {
        .nav {
          padding-bottom: 10px;
          padding-left: 30px;
          margin-bottom: 10px;
          padding-top: 10px;
          .nav-item {
            a.active {
              border-bottom: 2px solid $primary;
            }
          }
          .nav-item {
            margin-right: 20px;
            a {
              font-size: 14px;
              color: #666666;
              padding-bottom: 8px;
            }
          }
        }
        .tab-pane {
          .es_piece {
            margin-bottom: 40px;
            .piece_header {
              height: 17px;
              line-height: 17px;
              border-left: 3px solid $primary;
              padding-left: 6px;
            }
            .piece_body {
              margin-top: 19px;
              padding-left: 30px;
              font-size: 14px;
              color: #999999;
              line-height: 20px;
              width: 90%;
            }
          }
        }
      }

      .courseCollect {
        margin: 0 auto;
        width: 100%;
        height: auto;

        hr {
          max-width: 96.2% !important;
          color: #eee;
          margin: 0;
        }

        .courseItem {
          margin-top: 20px;
          margin-bottom: 20px;
          border-radius: 5px;
          height: auto;

          .courseImg {
            overflow: hidden;
            position: relative;
            margin: 0 auto;
            width: 100%;
            height: auto;
            border-radius: 5px;

            img {
              width: 100%;
              height: 100%;
            }

            .course_status {
              position: absolute;
              top: 10px;
              right: 0px;
              min-width: 42px;
              height: 20px;
              line-height: 20px;
              text-align: center;
              background-color: white;
              font-size: 14px;
              padding: 0 10px 0 13px;
              border-radius: 10px 0 0 10px;
              color: $primary;
            }
          }

          .courseTitle {
            margin-top: 15px;
            width: 100%;
            height: auto;

            p {
              margin: 0;
              width: 100%;
              text-align: left;
              color: #666;
              font-size: 18px;
              font-weight: bold;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }

          .progress-content {
            width: 100%;
            height: 10px;

            .progress-wrapper {
              width: 86%;

              .progress {
                float: left;
                width: 98%;
                height: 5px;
                border-radius: 50px !important;
              }

              .progress-bar {
                height: 5px;
                border-radius: 50px !important;
              }
            }

            .scheduleNum {
              margin-top: -8px;
              float: right;
              width: 38px;
              height: 15px;

              p {
                width: 100%;
                height: 100%;
                font-size: 12px;
                color: #999;
                text-align: right;
              }
            }
          }

          .courseLesson {
            margin-top: 6px;
            width: 100%;
            height: auto;
            color: #666;
            font-size: 12px;
            color: #999;
          }

          .operationBtn {
            margin-top: 12px;
            width: 96%;
            height: 30px;

            button {
              width: 96px;
              height: 30px;
              line-height: 30px;
              color: white;
              font-size: 14px;
              border: 0;
              border-radius: 30px;
              background-color: $primary;
              font-weight: 300;
              cursor: pointer;
              outline: none;
            }
          }
        }
      }

      .course_list {
        margin-top: 30px;
        position: relative;
        width: 100%;
        height: 38px;

        .pagination {
          margin: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          height: 100%;

          .page-item:first-of-type {
            margin-left: 0;
          }

          .page-item {
            width: 38px;
            height: 38px;
            margin-left: 5px;
            a {
              border-radius: 5px;
              text-align: center;
            }
          }
        }

      }
    }
  }
}

.notDataP {
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 60px;
  color: #999;
}

