.row_div .row .col-lg-8 h6 {
  margin-top:0;
  margin-left:0;
}
.row_div .row .add-item {
  margin-top:3px;
}

.card-body.row_content {
  padding-top: 10px;
  padding-bottom: 15px;
}

.bd-example {
  margin-top:25px;
  .row {
    padding-top:15px;
    padding-bottom:15px;
    padding-left:20px;
  }
  .nav-tabs {
    margin-top:10px;
  }
}